/* Write your code here. */

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.small {
  background-color: #fbbf24;
  height: 40px;
}
.medium {
  background-color: #38bdf8;
  padding: 50px;
  height: 100px;
}
.large {
  background-color: #ec4899;
  padding: 70px;
  height: 140px;
